version: "3.9"

services:
  db:
    image: postgres:18-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - endence

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.backend
    restart: unless-stopped
    # Pastikan DATABASE_URL di Coolify mengarah ke 'db:5432'
    command: sh -c "npx prisma db push && npx prisma db seed && npm run start:prod"
    depends_on:
      - db
    environment:
      DATABASE_URL: ${DATABASE_URL}
    networks:
      - endence
    # Tambahkan label agar Coolify tahu ini port 3000
    labels:
      - "coolify.managed=true"
    expose:
      - "3000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    restart: unless-stopped
    # Hapus 'npm run build' dari command karena sudah ada di Dockerfile
    command: npm run start
    depends_on:
      - backend
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    networks:
      - endence
    labels:
      - "coolify.managed=true"
    expose:
      - "3000"

volumes:
  postgres_data:
networks:
  endence:
    driver: bridge
